:root {
    --main-border-bottom: 5px solid #ff502f;
    --main-color: #ff502f;
    --main-color-hover: #fc745c;
    --main-border-card: 1px solid #d9d9d9;
    --main-navigation-color: #348498;

    // --second-color-hover: #9DD9D2;
    --second-color: #5BD1D7;
    --second-accept: #3b8a8f;
    --box-shadow:  0 0 5px 1px rgba(221, 221, 221, 1);
    --hover-elem:  0 0 0.1rem 0.15rem rgba(91, 209, 215, 0.493);
}

// для элемента формы
@mixin form-elem {
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: #fff;

    &:focus {
        box-shadow: var(--hover-elem);
        outline: 0;
    }
}

// Обёртка на формы
.wrapper-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.link {
    text-decoration: none;
    color: black;
}

label {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: 0;
    border-radius: 10px;
    background-color: var(--main-color);
    color: #fff;

    &:hover {
        opacity: 0.8;
        transition: 0.3s;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #ff746f;
    }

    &:active {
        transition: 0.3s;
        background-color: #fd524c;
    }
}

input {
    @include form-elem();
    transition: 0.3s;
}

textarea {
    @include form-elem();
}

.form-control{
    &:focus {
        box-shadow: 0 0 0.1rem 0.15rem rgba(91, 209, 215, 0.493);
        outline: 0;
    }
}

// кнопки ------------------------------------------------------------------------------------------
// вторичная кнопка
.btn-custom-secondary {
    border-radius: 10px;
    background: gray;

    &:hover {
        opacity: 0.8;
    }

}

// кнопка принять
.btn-custom-accept {
    background: var(--second-accept);

    &:hover {
        opacity: 0.8;
    }
}

// главная кнопка - побуждает к действию (выделяется)
.btn-custom-primary {
    border-radius: 10px;
    width: auto;
    padding: 10px 30px !important;
    background: var(--main-color);
    color: #fff;

    &:hover {
        background: var(--main-color-hover);
        color: #fff;
    }
}

// кнопки ------------------------------------------------------------------------------------------


h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;

    &:hover {
        color: var(--main-color);
        border-bottom-color: var(--main-color);
    }

    &:active {
        transition: all 0.4s;
        color: var(--main-color-hover);
        border-bottom-color: var(--main-color-hover);
    }
}

//выпадающий список с поиском
.v-select {
    min-width: 200px;

    .vs__dropdown-toggle {
        @include form-elem();
        transition: 0.3s;
    }


    &:focus {
        box-shadow: 0 0 0.1rem 0.15rem rgba(91, 209, 215, 0.493);
        outline: 0;
        border: 0;
    }
}


.form-check {
    .form-check-input:checked {
        background-color: var(--second-color);
        border-color: var(--second-color);
    }
}

//   individual dtyle for VDATEPICKER

.vc-pane-container,
.vc-popover-content-wrapper {
    button {
        background: none;
        padding: 0em;
        color: black;
    }
}


// form-select, accordion

.form-select,
.accordion-header {
    @include form-elem();
    transition: 0.3s;
}

.accordion-header{
    padding: 0;
}

.form-select{
    padding-right: 2rem;
}

.accordion-item {
    .accordion-header {

        .accordion-button {

            &:focus,
            &:hover {
                color: black;
                background: white;
                box-shadow: var(--box-shadow);
                outline: 0;
                border: 0;
            }
        }
    }

}

// иконка процесса загрузки
.loading {
    color: var(--second-color);
}