// эта штука часто повторяется и много где надо, поэтому в отдельный файл
.wrapper-second__navigation {
  padding-bottom: 2rem;

  a {
    cursor: pointer;
    font-family: var(--font-family-title);
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
    color: var(--main-navigation-color);
    margin-inline: 1rem;
    padding-bottom: 0.1rem;

    &:hover {
      color: var(--main-color);
    }
  }

  // Первому элементу ставим отступ = 0, чтобы не выпирал
  a:first-child {
    margin-left: 0;
  }

  .active {
    color: var(--main-color);
    border-bottom: var(--main-border-bottom);
  }
}
