@import './variables.scss';

.navbar {
    background-color: #EFEFEF;
    justify-content: end;
    align-items: center;
    display: flex;
    height: 3.5rem;
    padding-inline: 10rem;


    .navbar__item {
        cursor: pointer;
        padding: 1rem;
        transition: 0.3s;

        &:hover {
            background-color: #D9D9D9;
        }
    }
}