@import './globals.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10%;

    .logo {
        height: 64px;
        width: 64px;
    }

    .item-link {
        display: flex;

        .navbar__item {
            cursor: pointer;
            height: max-content;
            padding: 1rem;
    
            a {
                font-size: 14px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
                &:hover {
                    color: var(--main-color);
                    border-bottom-color: var(--main-color);
                }
    
                &:active {
                    transition: all 0.4s;
                    color: var(--main-color-hover);
                    border-bottom-color: var(--main-color-hover);
                }
            }

            .active {
                border-bottom: var(--main-border-bottom);
            }
    
            .login {
                padding-inline: 3rem;
                border-radius: 2rem;
                background-color: var(--main-color);
                transition: 0.3s;
    
                &:hover {
                    color: black;
                    background-color: var(--main-color-hover);
                }
    
                &:active {
                    background-color: var(--main-color-hover);
                }
            }
        }
    }
}